{% extends 'index.html' %}
{% block content %}
<div class="centered-content">
    <div class="search-container">
        <div class="search-bar">
            <!-- source for flask plug in https://plainenglish.io/blog/python-flask-passing-data-from-backend-to-html -->
            <form  class="part-search"  method="post" action="/search_database_for_">
                <input id="part_id" type="text" name ="part_id">
                <button type="submit" method="post" >Part Info</button>
                
            </form>
            <form  class="gen-trav"  method="post" action="/gen_traveler_for">
                <input id="gen_trav" type="text" name ="gen_trav">
                <button type="submit" method="post">Generate Traveler</button>
            </form>
        </div>
    </div>
</div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
        {% for category, msg in messages %}
        <p class="{{category}}">{{msg}}</p>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith  %}
<p>

    <br>
    <br>
    <br>
    GENERATING TRAVELER:
    <br>
    <br>
    <br>
    ASSIGNED LOT NUMBER:___________________________ PART QTY:________CONTRACT___________
    <br>
    <br>
    <br>
    Material: {{stock}}.  {{material}}. LOT #:___________________________
    <br>
    <br>
    <br>
    {{fab}}
    <br>
    <br>
    <br>
    {{debur_and_blend}}
    <br>
    <br>
    <br>
    {{heat_treat}}
    <br>
    <br>
    <br>
    {{check_and_straighten}}
    <br>
    <br>
    {{finish}}
    <br>
    <br>
    <br>
    GEOMETRIC DEFINITION ON DRAWING IS NOW CONTROLLED BY 3D MODEL. ALL NOTES AND TOLERANCES ON DRAWING AND/OR
    PARTS LIST ARE STILL APPLICABE. QA FINAL INSPECTION, QA STAMP/DATE:___________________________
    <br>
    <br>
    <br>
    {{mark}}
    <br>
    <br>
    <br>


</p>


{% endblock %}